:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', monospace;
  --font-weight-regular: 410;
  --font-weight-bold: 715;
  --background-image:
    repeating-linear-gradient(90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --width-block: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --contour-heart: #000;
  --animation-fill-color: #ff0000;
  --sparks-color: #ff0000;
  --hover-fill-color: #000;
}